BODY {
	SCROLLBAR-FACE-COLOR: #E6E6E6; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
	SCROLLBAR-SHADOW-COLOR: #cccccc; 
	SCROLLBAR-3DLIGHT-COLOR: #cccccc; 
	SCROLLBAR-ARROW-COLOR:  #99999; 
	SCROLLBAR-TRACK-COLOR: #F0F0F0; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff; 
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

td.bottom {
	color: #4C4C4C;
	font-size: 10px;
    text-align: center;
	white-space: nowrap;
}

td.title {
	font-size: 12px;
	color: #51604D;
	font-weight: bold;
	white-space: nowrap;
}

td.content {
	font-size: 12px;
	color: #FFFFFF;
	white-space: nowrap;
	background: #65865D;
	white-space: nowrap;
	BORDER-TOP: #465C40 1px solid; 
	BORDER-LEFT: #465C40 1px solid;
	height: 22px;
	padding: 2px;
}

td.content2 {
	font-size: 12px;
	color: #000000;
	white-space: nowrap;
	background: #BFC5C1;
	white-space: nowrap;
	BORDER-TOP: #465C40 1px solid; 
	BORDER-LEFT: #465C40 1px solid;
	BORDER-RIGHT: #465C40 1px solid;
	BORDER-BOTTOM: #465C40 1px solid;
	height: 22px;
	padding: 2px;
}

td.content3 {
	font-size: 12px;
	color: #000000;
	white-space: nowrap;
	background: #FFFFFF;
	white-space: nowrap;
	BORDER-TOP: #B4B8B5 1px solid; 
	BORDER-LEFT: #B4B8B5 1px solid;
	BORDER-RIGHT: #B4B8B5 1px solid;
	BORDER-BOTTOM: #B4B8B5 1px solid;
	height: 22px;
	padding: 2px;
}

.textinput
{
  background-color: white;
  border-style: solid;
  border-width: 1;
  border-color: #65865D;
  font-family: Verdana;
  font-size: 8pt;
  height: 21px;
  margin: 2px;
}

.textinput2
{
  background-color: white;
  border-style: solid;
  border-width: 1;
  border-color: #65865D;
  font-family: Verdana;
  font-size: 8pt;
  margin: 2px;
}

.savebutton
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 19px;
	font-size: 10px;
	color: #193151;
	text-align: center;
	background-image: url(../images/button.gif);
	background-repeat: repeat-x;
	border: 1px solid #B3CAE7;
	
}

a.menu {
	MARGIN-TOP: 1px;
	DISPLAY: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #123209;
	height: 20px;
	padding: 1px;
	white-space: nowrap;
}
a.menu:link {
	color: #123209;
	TEXT-DECORATION: none;
}
a.menu:visited {
	color: #123209; 
	TEXT-DECORATION: none;
}
a.menu:hover {
	color: #123209;
	TEXT-DECORATION: none;
}
a.menu:active {
	color: #123209;
	TEXT-DECORATION: none;
}

a:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#123209;
	text-decoration:underline;
	}

a:visited {
	color:#123209; 
	text-decoration:underline; 
	}

a:hover {
	color:#123209; 
	text-decoration: none;
	}

a:active {	
	color:#123209;
	text-decoration:none;
	}

a.white:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFFFFF;
	text-decoration:underline;
	}

a.white:visited {
	color:#FFFFFF; 
	text-decoration:underline; 
	}

a.white:hover {
	color:#FFFFFF; 
	text-decoration: none;
	}

a.white:active {	
	color:#FFFFFF;
	text-decoration:none;
	}	
